<div class="banner">
  <div class="container">
    <div class="banner-text">
      <h1>Cocktails</h1>
      <h3>Spruce up your liquor collection.</h3>
      <p>Fancy it up a notch</p>
      <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary'  %>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="cards mb-5">
    <% @cocktails.each do |c| %>
      <%= link_to cocktail_path(c), class: 'cocktail' do %>
        <div data-aos="flip-up" class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(<%= c.photo %>)">
          <%= c.name %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
