.doses {
  margin-top: 24px;
}

.drink img {
  display: block;
  margin: 0 auto;
}

.ingredients, .description {
  text-align: center;
}

.ingredients i {
  text-align: left;
}

.back {
  position: absolute;
  top: 64px;
  right: 64px;
}

.review {
  color: white;
}

.dose-hidden {
  display: none;
}

.review-hidden {
  display: none;
}
