form label {
  color: white;
}

#new_cocktail, #new_dose, #new_review {
  margin: 0 auto;
  width: 800px;
  @media screen and (max-width: 768px) {
    width: 320px;
  }
  @media screen and (max-width: 992px) {
    width: 560px;
  }
}

form .photo-upload {
  color: black;
  background-color: $white;
  border-radius: 5px;
  padding: 8px;
}
